{
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"node": true
	},
	"plugins": ["react", "react-hooks"],
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:prettier/recommended"
	],
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2018
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"rules": {
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"no-console": "error",
		"complexity": "warn",
		"no-empty-function": "warn",
		"radix": "error",
		"camelcase": "warn",
		"max-depth": "warn",
		"max-len": "warn",
		"max-lines": ["warn", { "max": 400 }],
		"max-statements": "warn",
		"no-bitwise": "error",
		"no-unused-vars": "warn"
	}
}
